.app {
  font-family: sans-serif;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background: rgb(135, 134, 134);
}

.input {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #d39393;
  border-radius: 6px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input button {
  padding: 10px 16px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.url-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.url-card {
  padding: 12px;
  border: 1px solid #af7575;
  border-radius: 8px;
  background: #f9f9f9;
  word-wrap: break-word;
  overflow: hidden;
}
